<html>

<form method="POST" action="/recipes">
<label for="recipe_name">Recipe Name</label><br>
<input id="recipe_name", type="text", name="name"><br>
<label for="recipe_ingredients">Recipe Ingredients</label><br>
<input id="recipe_ingredients", type="text", name="ingredients"><br>
<label for="cook_time">Cook Time</label><br>
<input id="cook_time", type="text", name="cook_time"><br>
<input type="submit" value="Submit">
</form>

</html>